BasedOnStyle: LLVM
IndentWidth: 2
BreakBeforeBraces: Allman
AlignAfterOpenBracket: Align
AllowAllParametersOfDeclarationOnNextLine: true
AllowShortBlocksOnASingleLine: Never
AllowShortFunctionsOnASingleLine: None
