BreakBeforeBraces: Allman
ColumnLimit: 80
IndentWidth: 2
TabWidth: 2
UseTab: Never
---
Language: Cpp
AccessModifierOffset: -4
AlignAfterOpenBracket: AlwaysBreak
AlignConsecutiveAssignments: false
AlignConsecutiveDeclarations: false
AlignConsecutiveMacros: false
AlignOperands: AlignAfterOperator
AlignTrailingComments: false
AlignEscapedNewlinesLeft: true
AllowAllParametersOfDeclarationOnNextLine: false
AllowShortBlocksOnASingleLine: false
AllowShortCaseLabelsOnASingleLine: false
AllowShortIfStatementsOnASingleLine: true
AllowShortLoopsOnASingleLine: false
AllowShortFunctionsOnASingleLine: None
AlwaysBreakAfterDefinitionReturnType: None
AlwaysBreakBeforeMultilineStrings: false
AlwaysBreakTemplateDeclarations: Yes
BinPackArguments: false
BinPackParameters: false
BraceWrapping:
  SplitEmptyFunction: true
  AfterEnum: true
BreakBeforeBinaryOperators: NonAssignment
BreakBeforeTernaryOperators: true
BreakConstructorInitializers: BeforeColon
BreakInheritanceList: BeforeColon
BreakStringLiterals: true
ConstructorInitializerIndentWidth: 0
ContinuationIndentWidth: 4
DisableFormat: false
CommentPragmas: '^'
SpacesInAngles: Leave
FixNamespaceComments: true
IncludeBlocks: Regroup
IncludeCategories:
  - Regex:           '^sys'
    Priority:        1
  - Regex:           '^(()(gmockgtest))'
    Priority:        4
  - Regex:           '^'
    Priority:        2
  - Regex:           '^'
    Priority:        3
IndentCaseLabels: true
IndentWrappedFunctionNames: false
KeepEmptyLinesAtTheStartOfBlocks: false
MaxEmptyLinesToKeep: 1
NamespaceIndentation: None
PackConstructorInitializers: Never
PenaltyReturnTypeOnItsOwnLine: 5000
PointerAlignment: Left
SortIncludes: false
SpaceBeforeAssignmentOperators: true
SpaceBeforeParens: ControlStatements
SpaceInEmptyParentheses: false
AlwaysBreakAfterReturnType: None
AllowShortLambdasOnASingleLine: None
LambdaBodyIndentation: Signature
SeparateDefinitionBlocks: Always
SpaceAfterLogicalNot: true
Standard: c++17